
.navbar-container {
    display:flex;
    justify-content: space-between;
    background-color: #303846;
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);

    .navbar-logo {
        margin: 1em 0 0 1em;
    }
    .navbar-links-container {
        display:flex;
    }

    .navbar-links-container > * {
        margin-right:20px;
        color:#f1f1f1;
        margin:1em 1em 1em 0;
        text-decoration: none;
    }
}

    
