.banner-container {
  background-color: #000000;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 16px;

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    color: #ffffff;
    margin: auto;
  }
}
