$breakpoint: 800px;
$general-border-radius: 4px;

.post-card-container {
    display:flex;
    border: 1px solid rgb(199, 199, 199);
    border-radius: $general-border-radius;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px .1px rgba(0,0,0,0.25);
    position: relative;
  
    text-align: left;

    .post-card-image {
       width: 20%;
        height: auto;
        border-top-left-radius: $general-border-radius;
        border-bottom-left-radius: $general-border-radius;
    }
    .post-card-text-container{
        width: 65%;
        margin-left:16px;
       
        .post-card-user {
            opacity: 0.4;
            margin:0;
            border-bottom: 1px solid grey;
            padding-bottom: 4px;
            width: 100%;
        }

        .post-card-title {
            margin:0;
        }
    }

    .post-card-score {
        position: absolute;
        top: 0px;
        right: 8px;
    }

    .post-card-cta-button {
        position: absolute;
        bottom: 0;
        right: 0;
        padding:8px;
        background-color: transparent;
        color: rgb(59, 130, 246);
        border-top-left-radius: $general-border-radius;
        border-bottom-left-radius: $general-border-radius;
        cursor: pointer;    
        text-decoration: none;        
        border-top: 1px solid rgb(59, 130, 246);
        border-left:  1px solid rgb(59, 130, 246);
        
        .post-card-cta-img {
            width: 12px;
            height: 12px;
            margin-left:4px;
        }
    }
    .post-card-cta-button:hover {
        background-color: rgb(59, 130, 246);
        color:#ffffff;
        transition-duration: .25s;
        transform: scale(1.02);
    }

    .post-card-cta-button:hover .post-card-cta-img {
        filter: invert(1);
        transition: .25s;
    }

}
.post-card-container:hover{
    box-shadow: 0px 4px 4px .1px rgba(0,0,0,0.5);
    transition: .25s;
}

@media (max-width: $breakpoint) {
    .post-card-container {
        display:block;
        border: 1px solid rgb(199, 199, 199);
        border-radius: $general-border-radius;
        background-color: #ffffff;
        box-shadow: 0px 4px 4px .1px rgba(0,0,0,0.25);
        
        .post-card-image{
            width: 100%;
            height: auto;
            border-top-left-radius: $general-border-radius;
            border-bottom-left-radius: $general-border-radius;
        }

        .post-card-score {
            background-color: #303846;
            color: #FFFFFF;
            margin:0;
            right:0;
            padding: 4px;
            border-bottom-left-radius: $general-border-radius;
            border-top-right-radius: $general-border-radius;
        }
    }
}